<div class = "content-container about">
  <div class = "col-md-6 about-image-container">
    <%= image_tag ("about_us.jpg"), class: "about-image" %>
  </div>

  <div class = "about-content-container col-md-6">
    <div class = "about-content">
      <h3>Your new peer-based retailer.</h3>

      <p>
        Simply create an account. Post items to the market. Sold!
      </p>
      <p>
        Marketplace is a platform built for users to share items you love amongst other members in the community.
      </p>
      <p>
        This small project is developed for the sole purpose of exploring code with Ruby and Rails with minimal HTML and Javascript involved. I am currently working on exploring more features and continue to implement them as this project continues to evolve. Currently there is no transaction of payment embeded yet, however, I hope to do so in the near future.
      </p>
    </div>
  </div>
</div>
