<script src="https://use.fontawesome.com/301d5381d1.js"></script>

<div class="jumbotron content-container main-image">
  <div class="container">
  </div>
</div>

<div class="main-bottom-nav">
  <%= link_to products_path do %>
    <div id="nav-bottom-1">
      <div class = "bottom-nav-title">SHOP</div>
      <div class="main-bottom-icon">
        <i class="fa fa-shopping-basket fa-2x" aria-hidden="true"></i>
      </div>
    </div>
  <% end %>

  <% if current_user %>
    <%= link_to user_path(current_user) do %>
      <div id="nav-bottom-2">
        <div class = "bottom-nav-title">PROFILE</div>
        <div class="main-bottom-icon">
          <i class="fa fa-child fa-2x" aria-hidden="true"></i>
        </div>
      </div>
    <% end %>
  <% else %>
    <%= link_to new_user_path do %>
      <div id="nav-bottom-2">
        <div class = "bottom-nav-title">JOIN</div>
        <div class="main-bottom-icon">
          <i class="fa fa-child fa-2x" aria-hidden="true"></i>
        </div>
      </div>
    <% end %>
  <% end %>

  <%= link_to about_path do %>
    <div id="nav-bottom-3">
      <div class = "bottom-nav-title">ABOUT</div>
      <div class="main-bottom-icon">
        <i class="fa fa-newspaper-o fa-2x" aria-hidden="true"></i>
      </div>
    </div>
  <% end %>
</div>
