<div class="jumbotron content-container main-image">
  <div class="container">
  </div>
</div>

<div class="main-bottom-nav">
  <div class="main-bottom-select col-xs-12 col-sm-4 col-md-4">
    start shopping
  </div>
  <div class="main-bottom-select col-xs-12 col-sm-4 col-md-4">
    join
  </div>
  <div class="main-bottom-select col-xs-12 col-sm-4 col-md-4">
    about us
  </div>
</div>
