<div class="jumbotron content-container main-image">

</div>

<div class="main-select">
    <div class = "col-xs-12 col-sm-4 col-md-4 main-select">
      <p>shop</p>
    </div>
    <div class = "col-xs-12 col-sm-4 col-md-4 main-select">
      <p>shop</p>
    </div>
    <div class = "col-xs-12 col-sm-4 col-md-4 main-select">
      <p>shop</p>
    </div>
</div>
