<div class="jumbotron content-container main-image">
  <div class="container">
  </div>
</div>

<div class="main-bottom-nav">
  <button id="nav-bottom-1">
    <div class = "bottom-nav-title">SHOP</div>
    <div class="main-bottom-icon">
      <i class="fa fa-shopping-basket fa-2x" aria-hidden="true"></i>
    </div>
  </button>

  <button id="nav-bottom-2">
    <div class = "bottom-nav-title">JOIN</div>
    <div class="main-bottom-icon">
      <i class="fa fa-child fa-2x" aria-hidden="true"></i>
    </div>
  </button>

  <button id="nav-bottom-3">
    <div class = "bottom-nav-title">ABOUT</div>
    <div class="main-bottom-icon">
      <i class="fa fa-newspaper-o fa-2x" aria-hidden="true"></i>
    </div>
  </button>
</div>
