<div class = "content-container">
  <div class = "container">
    <div class = "container">
      <h2>Profile</h2>

      <h4>Username</h4>
      <p><%= @user.username %></p>

      <h4>Email</h4>
      <p><%= @user.email %></p>

      <h4>Owned Products</h4>
      <% @products.each do |item|%>
        <div class = "col-sm-2 col-md-2">
          <%= link_to item.name.titleize, product_path(item.id) %>
        </div>
      <% end %>

      <br><br>
      <%= button_to "Edit Profile", edit_user_path(current_user), method: :get %>
    </div>
  </div>
</div>
