<%= link_to "Sign Up", new_users_path %>

<h1>Marketplace</h1>

<%= link_to "Create Item", new_product_path %>

<ul>
  <% @products.each do |product| %>
    <li>
       <%= link_to product.name, product_path(product) %>
    </li>
  <% end %>
</ul>
